.App {
  text-align: center;
}

.App-logo {

  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  justifyContent:'left'; 
  alignItems:'left';
}

.App-intro {
  font-size: large;
}

